@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000038;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 600;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 200;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 500;
  max-width: 700px;
  font-family: 'Bad Script', cursive;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}


/* Responsive max 991 px */
@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}


.menu ul{
list-style: none;
margin:0;
padding: 0;
display: inline;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
color: white;
text-decoration: none;
display: block;
padding: 10px;
font-size: 15px;

}

.menu ul li a:hover{
    color: #f796be83;
    font-size: 20px;
    
    }

html, body{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  letter-spacing: 0.3em;
  line-height: 1.6;
}

.contenedor{
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.contenedor .tarjeta{

 width: 60vh;
 height: 70vh;
border-radius: 30px;
box-shadow: 2px 2px 1px 2px rgb(255 255 255 / 65%);
overflow: hidden;
margin: 20px;
text-align: center;
margin-top: 40px;
transition: all 0.25s;
background-color: rgba(0, 0, 0, 0.082);

}


.contenedor .tarjeta:hover{
  transform: translateX(-15px);
  box-shadow: 20px 12px 16px rgba(255, 255, 255, 0.2);
  
}


.contenedor .tarjeta h4{
  font-size: 10px;
  color: #fff;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 600;
}

.contenedor .tarjeta p{
  padding: 0 1rem;
  font-size: 10px;
  color: rgb(160, 149, 149);
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 300;
}

/* Responsive max 400 px */
@media all and (max-device-width: 400px){
 
  .contenedor .tarjeta p {
      display: none;
  }

  .contenedor .tarjeta{

   width: 60vh;
  height: 50vh;
   border-radius: 30px;
   box-shadow: 2px 2px 1px 2px rgb(255 255 255 / 65%);
   overflow: hidden;
   margin: 20px;
   text-align: center;
   transition: all 0.25s;
   background-color: rgba(0, 0, 0, 0.082);
   
   }

  header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 20px;
}

  .contenedor .tarjeta h4{
    font-size: 8px;
    color: #fff;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
    padding: 10px;
  }

  #fernanda{
      height: 100px !important;
      width: 100px !important;
      margin-bottom: 20px !important;
  }

  .contenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }

  .contenedor .tarjeta a{
    width: 330px;
    margin-top: -100px;
    color: pink;
  }

  #salto{
    display: none;
  }

}


/* Responsive max 640 px */
@media all and (max-device-width: 640px){
  #fernanda{
    height: 150px !important;
    width: 150px !important;
}

.contenedor .tarjeta{

 width: 60vh;
 height: 50vh;
 border-radius: 30px;
 box-shadow: 2px 2px 1px 2px rgb(255 255 255 / 65%);
 overflow: hidden;
 margin: 20px;
 text-align: center;
 transition: all 0.25s;
 background-color: rgba(0, 0, 0, 0.082);
 
 }

.contenedor{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 20px;
}

.contenedor .tarjeta p {
  font-size: 10px;
}

header .logo
{
color: #fff;
text-transform: uppercase;
cursor: pointer;
margin-right: 20px;
}

.contenedor .tarjeta h4{
font-size: 8px;
color: #fff;
font-family: 'Nanum Myeongjo', serif;
font-weight: 600;
}

}


.contenedor .tarjeta a{
  width: 330px;
  height: 220;
  color: pink;
}

#fernanda{
  height: 250px;
  border-radius: 100%;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 10px;
}

