*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(../imagenes/congregate-f2.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/* Lo que hacemos aquí es:

-Indicamos que existe contenido en este pseudo-elemento
-Se posiciona de manera absoluta, para poder estirarlo
-Lo estiramos a todos los extremos del contenedor
-Le damos un color de fondo negro con una opacidad 0.6 */


.fondo:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.438);
    z-index: -1;
  }

 
  /* /* Para la animación de la maquina de escribir
   */

  /* .contenido{
    margin: auto;
    display: table;
   
  } */

/* h1{
  margin-top: 50px;
  font-size: 40px;
    float: left;
    color: #fff;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: black;
    width: 100%;
  }

 h1 span{
position: absolute;
right: 0;
width: 0;
border-left: 1px solid rgb(255, 18, 69);
background-color: black;
animation:maquina 3s infinite alternate steps(16);
width: 100%;
  
}

  @keyframes maquina {
    from {
      width: 100%;
    }
    to{
      width: 0;
    }
    
  } */ 



  /* ANIMACION TEXTO */

  .contenedor{
    display: flex;
    width: 300px;
    height: 45px;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    top: 50px;
    right: 0;
    margin-top: 50px;
    left: 0;
    margin: auto;
    overflow: hidden;
    font-family: 'Indie Flower', cursive;
    background-color: rgba(0, 0, 0, 0.596);
    text-align: center;
    
  }

  .contenedor ul{
    list-style: none;
    padding-left: 35px;
    animation: cambiar 7s infinite;
    font-family: 'Indie Flower', cursive;
  }

  .contenedor ul li{
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
  }

  .contenedor p{
    margin: 0;
    font-family: 'Indie Flower', cursive;
    font-style: italic;
    font-size: 45px;
  }




  @keyframes cambiar {
    0%{margin-top: 0px;}
    20%{margin-top: 0px;}
    25%{margin-top: -40px;}
    50%{margin-top: -40px;}
    55%{margin-top: -80px;}
    80%{margin-top: -80px;}
    85%{margin-top: -40px;}
    95%{margin-top: -40px;}
    100%{margin-top: 0px;}
  }


  #mymap{
    display: flex;
    width: 300px;
    height: 45px;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-family: 'Indie Flower', cursive;
  }